<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MovieGoers API</title> 
        <link rel="stylesheet" type="text/css" href="/app.css">
    </head>

    <body>   
        <header>
            <h1>Moviegoers API</h1>
        </header>
        <section>
            <h2>Basic routes</h2>
            <p><strong>/</strong> - This help page</p>
            <p><strong>/movies</strong> - Query all movies</p>

            <p> -- The /movies route can be filtered by: <em>title, rating and category</em></p>
            <p> -- (i.e.  /movies?title=break&category=new&rating=g )</p>
            <p> -- The <em>title</em> filter includes partial matching</p>
            <p><strong>Current categories:</strong> <%= categories %></p>
            <h3>Example object data returned</h3>
<pre>
{
    "fid": 1,
    "title": "ACADEMY DINOSAUR",
    "description": "A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies",
    "category": "Documentary",
    "rating": "PG"
}
</pre>
            <h2>Pre-filtered routes</h2>
            <p><strong>/movies/fid/<em>film_id</em></strong> - Query by Film ID</p>
            <p><strong>/movies/title/<em>movie_title</em></strong> - Query by Title</p>
            <p><strong>/movies/rating/<em>rating</em></strong> - Query by Rating</p>
            <p><strong>/movies/category/<em>category</em></strong> - Query by Category</p>
            <h3>Example object data returned</h3>
<pre>
{
    "FID": 1,
    "title": "ACADEMY DINOSAUR",
    "description": "A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies",
    "released": 2006,
    "category": "Documentary",
    "language": "English",
    "price": 0.99,
    "length": 86,
    "rating": "PG",
    "features": "Deleted Scenes,Behind the Scenes",
    "actors": "Penelope Guiness, Christian Gable, Lucille Tracy, Sandra Peck, Johnny Cage, Mena Temple, Warren Nolte, Oprah Kilmer, Rock Dukakis, Mary Keitel"
}
</pre>
        </section>
    </body>
</html>    