<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MovieGoers API</title> 
        <link rel="stylesheet" type="text/css" href="/app.css">
    </head>

    <body>   
        <h1>Moviegoers API</h1>
        <h2>API usage</h2>
        <p>/ - This help page</p>
        <p>/movies - Query all movies.</p>
        <p>/movies/title/<em>movie_title</em> - Query by Title.</p>
        <p>/movies/rating/<em>rating</em> - Query by Rating</p>
        <p>/movies/category/<em>category</em> - Query by Category</p>
        <p><strong>Current categories:</strong> <%= categories %></p>
        <br>
        <p>The following object is an example of the objects returned</p>
        <p>{</p>
            <p>"FID": 1,</p>
            <p>"title": "ACADEMY DINOSAUR",</p>
            <p>"description": "A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies",</p>
            <p>"released": 2006,</p>
            <p>"category": "Documentary",</p>
            <p>"language": "English",</p>
            <p>"price": 0.99,</p>
            <p>"length": 86,</p>
            <p>"rating": "PG",</p>
            <p>"features": "Deleted Scenes,Behind the Scenes",</p>
            <p>"actors": "Penelope Guiness, Christian Gable, Lucille Tracy, Sandra Peck, Johnny Cage, Mena Temple, Warren Nolte, Oprah Kilmer, Rock Dukakis, Mary Keitel"</p>
        <p>}</p>
    </body>
</html>    