<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MovieGoers API</title> 
        <link rel="stylesheet" type="text/css" href="/app.css">
    </head>

    <body>   
        <h1>Moviegoers API</h1>
        <h2>API usage</h2>
        <p>/ - This help page</p>
        <p>/movies - Query all movies.</p>
        <p>/movies/title/<em>movie_title</em> - Query by Title.</p>
        <p>/movies/rating/<em>rating</em> - Query by Rating</p>
        <p>/movies/category/<em>category</em> - Query by Category</p>
    </body>
</html>    